<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Refugee Registration</title>
  <style>
    body { font-family: Arial, sans-serif; margin: 40px; }
    nav a { margin-right: 15px; text-decoration: none; color: #0066cc; font-size: 18px;}
    table { border-collapse: collapse; width: 60%; }
    th, td { border: 1px solid #ccc; padding: 8px; text-align: left; }
    th { background-color: #f0f0f0; }
  </style>
    <link rel="stylesheet" href="static/format.css">
</head>
<body>
<center>
    <h1>
        <img src="static/logo.png" width="18%" style="vertical-align: middle; margin-right: 8px">
    </h1>
</center>

  <nav>
      <a href="/">Home</a>
      <a href="/register">Register</a>
      <a href="/view">View Past Refugees</a>
  </nav>
  <hr>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li style="color: green; font-size: 18px;">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</body>
</html>


