{% extends 'base.html' %}
{% block content %}
<h2>Registered Refugees</h2>
{% if registrations %}
  <table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Country</th>
        <th>Gender</th>
        <th>Date of birth</th>
        <th>Languages spoken</th>
        <th>Email Address</th>
        <th>Phone number</th>
        <th>Current Address</th>
        <th>Postal code</th>
        <th>Relationship</th>
        <th>Emergency Contact First Name</th>
        <th>Emergency Contact Last Name</th>
        <th>Emergency Contact Phone Number</th>
        <th>Emergency Contact Email Address</th>
        <th>Primary needs</th>
        <th>Special requirements</th>
        <th>Reason For seeking Refuge</th>
    </tr>
    {% for person in registrations %}
      <tr>
        <td>{{ person.first_name }}</td>
        <td>{{ person.last_name }}</td>
        <td>{{ person.nationality }}</td>
        <td>{{ person.gender }}</td>
        <td>{{ person.date_of_birth }}</td>
        <td>{{ person.languages_spoken}}</td>
        <td>{{ person.email_address}}</td>
        <td>{{ person.phone_number}}</td>
        <td>{{ person.current_address}}</td>
        <td>{{ person.postal_code}}</td>
        <td>{{ person.relationship}}</td>
        <td>{{ person.ec_first_name}}</td>
        <td>{{ person.ec_last_name}}</td>
        <td>{{ person.ec_phone_number}}</td>
        <td>{{ person.ec_email_address}}</td>
          <td>{{ person.primary_needs}}</td>
          <td>{{ person.special_requirements}}</td>
          <td>{{ person.reason_refuge}}</td>
      </tr>
    {% endfor %}
  </table>
{% else %}
  <p>No registrations found yet.</p>
{% endif %}
{% endblock %}


